<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="css/welcome.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <title>NETFLIX</title>
</head>

<body>
  <header>
    <input type="checkbox" id ="chk1">
    <div class="logo">
      <h2>NETFLIX</h2>
    </div>
    <u1>
      <li><a href="">Home</a></li>
      <li><a href="">TV Shows</a></li>
      <li><a href="">Movies</a></li>
      <li><a href="">New & Popular</a></li>
      <li><a href="">My List</a></li>
      <li><a href="">Login</a></li>
      <label for="chk1" class="menu-close">
        <i class="fas fa-times"></i>
      </label>
    </u1>
    <div class="search">
      <input type="text" name="search" id="srch" required placeholder="Enter your search">
      <button type="submit">Search</button>
    </div>
    <label for="chk2" class="menu-open">
      <i class="fas fa-bars"></i>
    </label>
  </header>
  <section>
    <div class="contain">
      <div class="slides" alt="">
        <div class="content">
          <h2>Film title</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="#">
            <i class="fas fa-play" aria-hidden="true">Watch free</i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <h2>Recommend</h2>
      <div class="nav">
        <div class="nav-bar">
          <div class="column active">
            <img src="images/img1.jpg" alt="">
          </div>
          <div class="column">
            <img src="images/img2.jpg" alt="">
          </div>
          <div class="column">
            <img src="images/img3.jpg" alt="">
          </div>
          <div class="column">
            <img src="images/img4.jpg" alt="">
          </div>
          <div class="column">
            <img src="images/img4.jpg" alt="">
          </div>
          <div class="column">
            <img src="images/img4.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="prev"><</div>
      <div class="next">></div>
    </div>
  </section>
  <script>
    const slides = document.querySelectorAll('.slides');
    const dots = document.querySelectorAll('.column');
    let slideIndex = 0;
    showSlide();
    function showSlide(n) {
      for (let i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (let i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active","");
      }
      slides[slideIndex].style.display = "block";
      dots[slideIndex].className += " active";
    }
    dots.forEach((item,index) => {
      item.addEventListener('click', () => {
        showSlide(slideIndex = index);
      })
    });

    const nav = document.querySelector('.nav');
    const prev = document.querySelector('.prev');
    const next = document.querySelector('.next');
    next.addEventListener('click', () => {
      nav.scrollLeft += dots[0].offsetWidth;
    })
    prev.addEventListener('click', () => {
      nav.scrollLeft -= dots[0].offsetWidth;
    })
  </script>
</body>

</html>