.tab-icon-door {
    width: 2.8125rem;
    height: 2.8125rem;
    fill: var(--main-grey);
}

.tabs {
    padding-top: 1rem;
    background-color: var(--main-deep-dark);
}

.tab-nav-container {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    list-style: none;
    color: var(--main-grey);
    margin: 0 12%;
}

u1 li:hover {
    color: #fff;
    cursor: pointer;
}

u1 li:hover svg path {
    fill: #fff;
}

.active {
    border-bottom: 4px solid var(--main-red);
}

.tab-selected {
    color: #fff;
}

.tab-selected svg path {
    fill: #fff;
}